<ion-content [fullscreen]="true" class="ion-padding" color="primary">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-text color="tertiary">
          <h1>Hola, bienvenido a MoneyWise</h1>
        </ion-text>
        <ion-text>Ingresa tus credenciales</ion-text>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="email" formControlName="email" required>
            </ion-input>
          </ion-item>
          @if (emailError) {
          <ion-text color="danger" class="error-message">
            <small>{{ emailError }}</small>
          </ion-text>
          }

          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input type="password" formControlName="password" required>
            </ion-input>
          </ion-item>
          @if (passwordError) {
          <ion-text color="danger" class="error-message">
            <small>{{ passwordError }}</small>
          </ion-text>
          }

          <ion-button expand="block" type="submit" [disabled]="loginForm.invalid || isLoading" class="ion-margin-top">
            <ion-spinner *ngIf="isLoading" slot="start" name="crescent"></ion-spinner>
            {{ isLoading ? 'Iniciando sesión...' : 'Iniciar Sesión' }}
          </ion-button>
        </form>

        <ion-button fill="clear" expand="block" routerLink="/register" class="ion-margin-top">
          ¿No tienes cuenta? Regístrate
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>